$gray: #C4C4C4;

.gray {
	background-color: $gray;
}

.facebook-blue {
	background-color: #3B5998;
	border-color: #3B5998;
	color: white;
	height: 35px;
	width: 100px;
}

.facebook-blue:hover {
	color: white;
}

.twitter-blue {
	background-color: #2CA9E1;
	border-color: #2CA9E1;
	color: white;
	height: 35px;
	width: 100px;
}

.twitter-blue:hover {
	color: white;
}

.dull {
	opacity: .4;
}

.dark-blue {
	background-color: #414958;
}

.blue-selected {
	background-color: #698FA3;
	color: white
}

.red {
	background-color: red;
	color: red;
}

.color-white {
	color: white;
}

.red {
	background-color: red;
}



/* -------------------------------------------------------------------
 * Tyopgraphy
 * -----------------------------------------------------------------*/

@font-face {
	font-family: 'Jubilat';
	src: url('JubilMed.otf');
}

$display-font: 'Arial';
$serif-font:   'Jubilat';

body {
	font-family: $display-font;
	background-color: #E6E6E6;	
	min-height: 1200px;
	h1	{
		font-family: $serif-font
	}
}


h3 {
	margin-left: 15px;
	font-size: 19px
}
nav {
	color: white;
}
.col-md-12 {
	p:first-child {
		margin-left: 15px;
		margin-top: 20px;
	}
}
#top-nav {
	background-color: #414958;
}
.nav-top {
	margin-top: 8px;
}
#main-holder {
	background-color: #FBFBFB;
}

#snack {
	label {
		font-size: 10px;
	}
}

.thumbnail {
	padding: 0;
}
span.thumbnail:hover {
	.caption {
		background-color: #C4C4C4;
	}
}
.thumbnail {
	cursor: pointer;
}

.btn-group-vertical {
	width: 100%;
}
.btn-group-vertical:hover {
	.btn-danger, .btn-default {
		background-color: #286090;
		border-color: #204d74;
		color: white;
	}
}

.btn-group-justified {
	margin-bottom: 12px;
	.main {
		width: 37%
	}	
}


#clothing {
	label {
		font-size: 10px;
	}
}

.btn-group-justified:hover {
	div:first-child {
		background-color: #414958;
		border-color: #414958;
	}

	.main {
		background-color: #698FA3;
		color: white;
	}
}

#president {
	margin-top: 30px;
	p {
		margin-left: 15px;
	}
	.btn-group {
	margin-bottom: 45px;
	margin-left: 15px;
	}

}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}
